html, body {
    height: 100%;
    width: 100%;
  }
  * {
      box-sizing: border-box;
  }
  
  body {
        background-image: url("photo.png");
        font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
      }
  
  #topmid {
      border: 0px solid black;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      margin-top: 0px;
      padding-left: 30%;
      font-style: oblique;
      font-size: 38px;
      text-shadow: -2px 2px 2px #000000;
  }
  
  a:hover {
      color: red;
  }
  
  a:link {
      color: green;
      text-decoration: none;
  }
  
  .tab {
      border: 1px black solid;
      background-color: #FFE5CC;
      margin-left: 48%;
      width: 450px;
      color: green;
      font-weight: bold;
      font-style: normal;
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
      padding: 50px;
      border-radius: 20px;
      box-shadow: -3px 2px 15px #000000;
  }
  
  .home {
      border: 1px black solid;
      background-color: #ccffcc;
      margin-left: 1%;
      width: 200px;
      color: blue;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
      padding: 10px;
      float: left;
      clear: both;
  }
  
  .yel {
      color: yellow;
  }
  
  .red {
      color: red;
  }
  
  .green {
      color: green;
  }
  
  .hd {
      font-size: 25px;
  }
  
  .brown {
      color: brown;
  }
  
  *{
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
  }
  header nav li :hover{
      border-bottom: 3px white solid;
      border-radius: 10px;
      padding-bottom: 7px;
      /* padding: 8px;
      margin: 10px; */
      color: white;
  }
  
  header{
      width: 100vw;
      height: 60px;
      border-bottom: solid 1px rgba(16, 16, 16, 0.1);
      font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #101010;
  }
  
  header .inner{
      width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
      height: 100%;
      display: block;
      margin: 0 auto;
  }
  
  header .logo{
      display: table;
      height: 100%;
      float: left;
  }
  
  header .logo div{
      height: 100%;
      display: table-cell;
      vertical-align: middle;
  }
  
  header .logo img{
      height: 50px;
      margin-top: 5px; /* Optical alignment of the logo */
  }
  
  header nav{
      /* float: right; */
      margin-left: 10%;
      height: 100%;
  }
  
  header nav li{
      display: table;
      height: 100%;
      float: left;
      margin-right: 30px;
      padding-left: 30px;
  }
  
  header nav li:last-of-type{
      margin-right: 0;
  }
  
  header nav span {
      display: table-cell;
      vertical-align: middle;
  }
  
  header nav a{
      color: #ffffff;
  }
  
  header nav .button{
      background-color: #1ab26b; /* This HEX is the color of the button */
      color: #FFF;
      padding: 10px 20px;
      border-radius: 4px;
  }
  
  header nav .button:hover{
      filter: brightness(1.05);
  }
  .UserLogin{
      height:40px;
      border-radius: 50px;
      background-color: #ccffcc;
      color:#078707;
      font-weight: bold;
      cursor:pointer;
      transition: 0.3s;
      border-color: #078707;
      border-style:solid;
      border-width: 1px;
      
  }
  .UserLogin:hover{
      height:40px;
      border-radius: 50px;
      background-color: white;
      color: #078707;
      font-weight: bold;
      border-style:solid;
      border-width: 1px;
      border-color: #078707;
  }
  .AdminLogin{
      height:40px;
      border-radius: 50px;
      background-color: #ccffcc;
      color:#078707;
      font-weight: bold;
      cursor:pointer;
      transition: 0.3s;
      border-color: #078707;
      border-style:solid;
      border-width: 1px;
      
  }
  .AdminLogin:hover{
      height:40px;
      border-radius: 50px;
      background-color: white;
      color: #078707;
      font-weight: bold;
      border-style:solid;
      border-width: 1px;
      border-color: #078707;
  }
  input {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;
  }
  .Form{
    display: flex;
    flex-direction: column;  
  }