<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Book Store</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <header>
    <div class="inner">

      <nav>
        <li><span><a href="index.html">Home</a></span></li>
        <li><span><a href="./store/viewBooks.html">Available Books</a></span></li>
        <li><span><a href="">About</a></span></li>
        <li><span><a href="./users/login.html">login</a></span></li>
        <li><span><a href="./users/UserRegister.html">Register</a></span></li>
        <li><span><a href="./users/adminLogin.html">Admin Login</a></span></li>
        <li><span><a href="" class="button">Contact</a></span></li>
      </nav>
    </div>
  </header>
  <br>
  <div id="topmid">
		<h1>Welcome to Online <br>Book Store</h1>
	</div>

	<table class="tab brown hd">
		<tr>
			<td>Register Here</td>
		</tr>
	</table>

  <table class="tab" border="0px">

		<tr>
			<td>
				<form action="userreg" method="post" class="Form">
					<label for="userName">Username : </label>
					<input type="text" name="username" id="userName" placeholder="Enter your Username" required>

					<label for="passWord">Password :&nbsp; </label>
					<input type="password" name="password" id="passWord" placeholder="Enter Password" required>

					<label for="firstName">First Name : </label>
					<input type="text" name="firstname" id="firstName" placeholder="Enter your First Name" required>

					<label for="lastName">Last Name : </label>
					<input type="text" name="lastname" id="lastName" placeholder="Enter your Last Name" required>

					<label for="address">Address : </label>
					<input type="text" name="address" id="address" placeholder="Enter your Address" required>

					<label for="phno">Phone No : </label>
					<input type="text" name="phone" id="phno" placeholder="Enter your Phone Number" required>

					<label for="Email">Email : </label>
					<input type="text" name="mailid" id="Email" placeholder="Enter your Email">

					<input type="checkbox" class="register" required>
					<label for="acceptance" class="finalacceptance">I ACCEPT ALL TERMS & CONDITIONS</label>
					<input class="UserRegistration" type="submit" value="REGISTER ME ">
				</form>
			</td>
		</tr>
	</table>
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
</body>

</html>