<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<title>Book Store</title>
	<link rel="stylesheet" href="style.css"/>

</head>
<body >
	<header>
        <div class="inner">
            <nav>
				<li><span><a href="index.html">Home</a></span></li>
				<li><span><a href="store/viewBooks">Available Books</a></span></li>
                <li><span><a href="">About</a></span></li>
                <li><span><a href="users/login">login</a></span></li>
                <li><span><a href="users/UserRegister">Register</a></span></li>
                <li><span><a href="" class="button">Contact</a></span></li>

            </nav>
        </div>
    </header>
	<br><br>
	<div id="topmid">
		<h1>Welcome to Online<br> Book Store</h1>
	</div>
	<div class="home">
		<a href="index.html">Logout</a>
	</div>
	
</body>
</html>